{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <form method="POST">
        <fieldset>
            <legend>Fill in the form to Sign Up:</legend>
            {% csrf_token %}
            {{ form|crispy }}
        </fieldset>
        <button class="btn btn-secondary btn-sm mt-1 mb-1" type="submit">Sign Up</button>
    </form>

    <small>
        Already Have An Account?
        <a href="{% url 'login' %}">Log In</a>
    </small>

{% endblock %}